header
{
margin: auto;
background: url(../assets/baniereindex.jpg) no-repeat;
width: 70%;
height: 400px;
border-radius: 15px;
}
h1
{
font-family: "Trebuchet MS", sans-serif;
color: #FFFFFF;
text-align: center;
}
h3
{
text-align: center;
}
h2
{text-align: right;
font-family: Impact;
}
body
{background-image: url(../assets/Fallait-une-image.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
}
thumbnail
{
text-align: center;
}